* text=auto

*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.swift text eol=lf
*.py text eol=lf
*.plist text eol=lf
*.xcprivacy text eol=lf
*.pbxproj text eol=lf
*.xcscheme text eol=lf
*.xcworkspacedata text eol=lf
*.json text eol=lf
*.md text eol=lf

*.png binary
